<!-- isInFolder indicates if file is in nested folder or in root folder -->

<% if(isInFolder){ %>
<form id="files-form" action="folders/<%= folderId %>" enctype="multipart/form-data" method="POST">
  <label for="file" class="create-button upload-file"><span aria-hidden="true"></span>Upload</label>
  <input type="file" name="files" id="file" required multiple accept="image/*, application/pdf" style="display:none;">
</form>
<% } else{ %>
<form id='files-form' action="/folders" enctype="multipart/form-data" method="POST">
  <label for="file" class="create-button upload-file"><span aria-hidden="true"></span>Upload</label>
  <input type="file" name="files" id="file" required multiple accept="image/*, application/pdf" style="display:none;">
</form>
<% }%>