<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folders | Cloudly</title>
</head>

<body>
  <script defer src="/scripts/fileValidation.js"></script>
  <!-- <a href="/folders/<%= //locals.currentFolder? locals.currentFolder?.parentId  %>"></a> -->
  <h1>folder</h1>
  <% if(locals.errors && locals.errors !== null){ %>
  <ul>
    <% locals.errors.forEach((err) => { %>
    <li><%= err %></li>
    <% }) %>
  </ul>
  <% } %>
  <form action="/folders" method="POST">
    <label for="folderName">New Folder</label>
    <input type="text" name="folderName" id="folderName" required>
    <button type="submit">Submit</button>
  </form>
  <h1>new file</h1>
  <%- include('partials/files-form', { isInFolder: locals.folder ? true : false, folderId: locals.folder ? locals.folder.id : null}) %>
</body>

</html>