<header>
  <div class="header-wrapper">
    <a href="/" id="header-logo-anchor">
      <img src="/icons/folder.png">
      <h1 class="logo-name">Cloudly</h1>
    </a>
    <div>
      <button id="theme-toggle"></button>
      <% if(!locals.currentUser){ %>
        <a href="/login" class="login">Log In</a>
        <a href="/signup" class="signup">Sign Up</a>
        <% }else{ %>
          <a href="/logout" class="signup logout">Logout</a>
          <% } %>
    </div>
  </div>
</header>