<header>
  <a href="/" id="header-logo-anchor">
    <div class="header-logo">
      <img src="/icons/folder.png">
      <h1 class="logo-name">Cloudly</h1>
    </div>
  </a>
  <div>
    <button class="theme-toggle">Theme Toggle</button><a href="/login" class="header-button">Log In</a><a href="signup" class="header-button">Sign Up</a>
  </div>
</header>