<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/common-files-template') %>
  <title>Cloudly</title>
</head>

<body>
  <%- include('header', {currentUser: locals.currentUser ? locals.currentUser : null}) %>
  <div class="main-wrapper">
    <main>
      <h1>hello</h1>
      <% if(locals.currentUser){ %>
      <h1><%= locals.currentUser.username %></h1>
      <% } %>
    </main>
  </div>
  <%- include('footer') %>
</body>

</html>