<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/common-files-template') %>
  <title>xDrive Lite</title>
</head>

<body>
  <%- include('header') %>
  <h1>hello</h1>
</body>

</html>