<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | xDrive</title>
</head>

<body>
  <div style="margin: auto;">
    <form action="/login" method="POST">
      <div><label for="username">Username</label><input type="text" id="username" autocomplete="username" name="username" required placeholder="username"></div>
      <div><label for="password">Password</label><input type="password" id="password" name="password" required autocomplete="current-password"></div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>