<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
  <form action="/signup" method="post" style="margin: auto;">
    <div><label for="username">Username</label><input type="text" id="username" name="username" required placeholder="username" autocomplete="username"></div>
    <div><label for="password">Password</label><input type="password" id="password" name="password" required placeholder="password" autocomplete="current-password"></div>
  </form>
</body>

</html>