html[data-theme="light"] {
  --upload-bg: black;
  --upload-color: white;
  --upload-icon: url("./../icons/upload-20-white.svg");
  --new-icon: url("./../icons/newfolder-20-black.svg");
  --sort-icon: url("./../icons/sort-50-black.svg");
  --new-bg: #6163661a;
  --new-color: black;
  --new-border: none;
  --empty-color: gray;
  --overlay-bg: rgba(0, 0, 0, 0.3);
  --bottom-sheet-bg: #fff;
  --sheet-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
}
html[data-theme="dark"] {
  --upload-bg: white;
  --upload-color: black;
  --upload-icon: url("./../icons/upload-20-black.svg");
  --new-icon: url("./../icons/newfolder-20-white.svg");
  --sort-icon: url("./../icons/sort-50-white.svg");
  --new-bg: black;
  --new-color: white;
  --new-border: 1px solid white;
  --empty-color: rgb(207, 207, 207);
  --overlay-bg: rgba(65, 65, 65, 0.3);
  --bottom-sheet-bg: black;
  --sheet-shadow: 0 -5px 20px rgba(219, 219, 219, 0.2);
}

.main-wrapper {
  padding: 0px 10px;
}

main {
  flex: 1;
}
.main-top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;
}

.main-top-buttons > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.create-button {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.3;
  border: none;
}
.create-button.upload-file {
  color: var(--upload-color);
  background-color: var(--upload-bg);
}
.create-button.new-folder {
  color: var(--new-color);
  background-color: var(--new-bg);
  border: var(--new-border);
}
.create-button span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.create-button.upload-file > span {
  background-image: var(--upload-icon);
}
.create-button.new-folder > span {
  background-image: var(--new-icon);
}

button.sort-button {
  align-self: stretch;
  width: 30px;
  background-image: var(--sort-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: inherit;
  border: none;
}

/* folder section styles */

section.files-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.folder-section-heading {
  font-size: 1.5rem;
  margin-top: 10px;
  align-self: flex-start;
}

/* new folder form bottom sheet */

.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-bg);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/* Bottom Sheet */
.bottom-sheet {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bottom-sheet-bg);
  padding: 20px;
  border-radius: 20px 20px 0 0;
  box-shadow: var(--sheet-shadow);
  transform: translateY(100%);
  transition: 0.3s ease;
}

/* Active state */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .bottom-sheet.active {
    transform: translateY(0);
  }
}

/* Header */
.sheet-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sheet-header h3 {
  margin: 0;
  font-weight: 900;
}

.close-btn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Input */
#folderName {
  width: 95%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
.create-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  background: #eee;
  color: #aaa;
  cursor: not-allowed;
}

.create-btn.enabled {
  background: var(--new-color);
  color: var(--bottom-sheet-bg);
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  main {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 768px) {
  .create-button {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .main-top-buttons > div {
    gap: 30px;
  }
  .create-button span {
    width: 1.5rem;
    height: 1.5rem;
  }

  .bottom-sheet {
    /* position: fixed; */
    display: none;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    width: 500px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }
  .bottom-sheet.active {
    display: block !important;
  }
  .bottom-sheet.not-active {
    display: none !important;
  }
  .close-btn {
    font-size: 1.5rem;
  }
  .sheet-header h3 {
    font-size: 1.2rem;
  }
}
