/* This file contains styles that mostly used on all pages */

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src: url("./../fonts/GoogleSansFlex.ttf") format("truetype");
  font-display: swap;
}

html[data-theme="light"] {
  --color-scheme: light;
  --theme-bg: url("./../icons/dark-50-black.svg");
  --login-bg: white;
  --login-border: 2px solid black;
  --login-color: black;
  --signup-bg: black;
  --signup-color: white;
  --body-bg: rgb(247, 245, 255);
  --description-color: gray;
}
html[data-theme="dark"] {
  --color-scheme: dark;
  --theme-bg: url("./../icons/light-50-white.svg");
  --login-bg: rgb(27, 31, 34);
  --login-border: 2px solid white;
  --login-color: white;
  --signup-bg: rgb(252, 252, 252);
  --signup-color: black;
  --body-bg: rgb(26, 31, 37);
  --description-color: rgb(207, 207, 207);
}

:root {
  font-family:
    "Roboto",
    "Inter",
    "Google Sans",
    system-ui,
    -apple-system;
  box-sizing: border-box;
  color-scheme: var(--color-scheme);
}

body {
  background-color: var(--body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
}
/* header element styles */

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgb(236, 236, 236);
  box-shadow: 0 2px 2px rgba(18, 28, 28, 0.12);
  background-color: var(--signup-color);
}
header > div {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 15px;
  gap: 10px;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a:visited {
  text-decoration: none;
  color: inherit;
}
header > div > a {
  display: flex;
  align-items: center;
  gap: 4px;
}

header > div > a > img {
  width: 30px;
  height: 30px;
}
header > div > a > h1 {
  margin: 0;
  font-size: 1.5rem;
}

header > div div {
  display: flex;
  gap: 8px;
  align-items: center;
}

header > div > div > button {
  width: 25px;
  height: 25px;
  background-image: var(--theme-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: inherit;
  border: none;
}
header > div > div > a {
  padding: 0px 8px;
  border-radius: 8px;
  font-weight: 600;
  border: var(--login-border);
}
header > div > div > a.login {
  background-color: var(--login-bg);
  color: var(--login-color);
}
header > div > div > a.signup {
  background-color: var(--signup-bg);
  color: var(--signup-color);
}
header > div > div > a.logout {
  margin-left: 10px;
}
/* main element styles */
.main-wrapper {
  padding: 6px;
  flex: 1;
  display: flex;
  box-sizing: border-box;
}

/* footer element styles */
footer {
  padding: 6px;
  text-align: center;
  margin-top: auto;
  border-top: 1px solid rgb(236, 236, 236);
  box-shadow: 0 -2px 2px rgba(18, 28, 28, 0.12);
}

footer > p {
  margin: 0;
  color: var(--description-color);
  font-size: 0.9rem;
}
footer > p > a {
  color: var(--description-color);
  text-decoration: underline 1px solid var(--description-color);
}

footer > p > a:visited {
  color: var(--description-color);
  text-decoration: underline 1px solid var(--description-color);
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    max-width: 800px;
  }
  .main-wrapper {
    display: flex;
    justify-content: center;
  }

  main {
    max-width: 700px;
    padding: 0 20px;
  }

  header > div > a > img {
    width: 40px;
    height: 40px;
  }
  header > div > a > h1 {
    margin: 0;
    font-size: 2rem;
  }
  header > div > div {
    gap: 20px;
  }
  header > div > div > a {
    font-size: 1.2rem;
  }

  header > div > div > button {
    width: 30px;
    height: 30px;
  }
}
