html[data-theme="light"] {
  --empty-message: gray;
}
html[data-theme="dark"] {
  --empty-message: rgb(207, 207, 207);
}

.no-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img#cloud-image {
  width: 150px;
}
h2.drive-empty {
  font-size: 1.3rem;
  margin-bottom: 0;
}
p.empty-message {
  color: var(--empty-message);
}
