html[data-theme="light"] {
  --empty-message: gray;
  --white-black: white;
  --black-white: black;
}
html[data-theme="dark"] {
  --empty-message: rgb(207, 207, 207);
  --white-black: black;
  --black-white: white;
}

div.folder-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 5px 8px;
  margin: 5px 0px;
  position: relative;
}

.folder-card > div.folder-info-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.folder-card-icon {
  width: 1.5rem;
}

.folder-name,
.folder-data {
  margin: 0;
  padding: 0;
}
h3.folder-name {
  font-size: 1rem;
  font-weight: 500;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.folder-data {
  font-size: 0.8rem;
  color: var(--empty-message);
}

/* Kebab button CSS */

.options-button {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.card-menu-options {
  position: absolute;
  top: 36px;
  right: 8px;
  background: var(--white-black);
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 120px;
  padding: 12px 16px;
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
.card-menu-options.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.card-menu-options a {
  display: block;
  width: 100%;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.card-menu-options a:visited {
  text-decoration: none;
}
.delete {
  color: red;
  font-weight: 600;
}

.delete:visited {
  color: red;
}

.file-download {
  margin-top: 10px;
  color: var(--black-white);
}
.file-download:visited {
  color: var(--black-white);
}

@media (max-width: 480px) {
  .card-menu-options {
    right: 0;
    left: auto;
    min-width: 160px;
  }
}
@media screen and (min-width: 550px) {
  div.folder-card {
    border-radius: 8px;
    background: linear-gradient(
      to right,
      rgb(92, 168, 245, 0.2),
      rgb(158, 126, 244, 0.2)
    );
  }
}

@media screen and (min-width: 768px) {
  div.folder-card {
    border-radius: 8px;
    background: linear-gradient(
      to right,
      rgb(92, 168, 245, 0.2),
      rgb(158, 126, 244, 0.2)
    );
  }
  h3.folder-name {
    font-size: 1.1rem;
    max-width: 450px;
  }
  p.folder-data {
    font-size: 0.85rem;
  }

  .folder-card-icon {
    width: 1.7rem;
  }
  .options-button {
    font-size: 1.4rem;
  }
}
